header {
    display: flex;
    width: 100%;
    justify-content: center;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 20px 0px 20px 0px;
    
}

.search {
    display: flex;
    justify-content: center;
    width: 100%;
}

.footer {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: black;
    margin-top: 800px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.footerlogo {
    max-height: 150px;
    max-width: auto;
}