/* Set the whole screen to dark */
* {
    background-color: black;
}

/* Format the top of the screen */
header {
    display: flex;
    width: 100%;
    justify-content: center;
}

/* Makes the cards go into a grid */
div {
    display: grid;
}

/* Formats the info above the search button */
.info {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 20px 0px 20px 0px;
    justify-content: center;

}

/* Format the search button */
.search {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* Control the recent searches displayed */
.recentSearchDisplay{
    display: flex;
    justify-content: space-around;
    margin: 30px 0px 30px 0px;
    font-size: 20px;
    text-align: center;
}

/* This controls the section that says Lyrics: */
.lyrics {
    margin-left: 50px;
    font-size: 20px;
}

/* Controls the area that holds the cards */
.section {
    display: grid;
}

    /*Project Boxes */
.projects {
    justify-content: center;
    background-color: black;
    padding-top: 25px;
    padding-bottom: 500px;
    margin: 0 auto;
    max-width: 1500px;
    width: 90%;
    text-align: center;
}

    /*Project Boxes Placement */
.card {
    border-style: solid;
    display: flex;
    border-width: 2px;
    padding: 3px;
    margin: 20px;
    border-radius: 30px;
    box-shadow: 5px 5px 5px;
    background-color: white;
    font-size: 25px;
    flex-wrap: wrap;
    width: 300px;
}

.card .header {
    width: 100%;
    text-align: center;
    background: #62c4e0;
    color: black;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;

}


    /*images in card*/
.card img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

/* Format the footer */
.footer {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: black;
    margin-top: 800px;
    padding-top: 25px;
    padding-bottom: 25px;
}

/* Format the image in the footer */
.footerlogo {
    max-height: 150px;
    justify-self: center;
 
}